{
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "prettier", "cypress", "jest"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "env": {
    "jest/globals": true,
    "browser": true
  }
}
