{
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "prettier", "cypress", "jest"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-props-no-spreading": 0,
    "prefer-object-spread": 0
  },
  "env": {
    "jest/globals": true,
    "browser": true
  }
}
