{% ckan_extends %}

{% block page_primary_action %}
    {% if h.check_access('package_create', {'owner_org': c.group_dict.id}) %}
        <a class="btn btn-primary" href="/dataset/new-metadata?group={{ c.group_dict.id }}">{{ _('Add Dataset') }}</a>
    {% endif %}

    <script type="text/javascript" src="/base/vendor/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-primary').eq(1).hide();
        });
    </script>

    {{ super() }}

{% endblock %}
