node_modules/

# testing
/coverage

# next.js
.next/
/out/

# yarn
yarn-error.log
yarn.lock

# sass
.sass-cache

# css
*.css

# misc
sandbox/*
metadata-app/.env
metadata-app/.staging.env
.nyc_output/*
.DS_Store

metadata-app/public/
metadata-app/dist/
