include README.md
include LICENSE
include requirements.txt
recursive-include ckanext/dcat_usmetadata *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/dcat_usmetadata/public/assets *
