-e git+https://github.com/ckan/ckanext-harvest.git@master#egg=ckanext_harvest
git+https://github.com/keitaroinc/ckanext-saml2auth@main#egg=ckanext-saml2auth

ckanext-datajson
ckanext-googleanalyticsbasic
ckanext-usmetadata

repoze.lru==0.7
repoze.who==2.4
webob

# ckanext-saml2 dependencies
M2Crypto==0.36.0
#-e git+https://github.com/IdentityPython/pysaml2.git#egg=pysaml2
pysaml2

# ckanext-harvest dependencies
ckantoolkit>=0.0.7
pika>=1.1.0
pyOpenSSL==20.0.1
# redis==2.10.6 # included in ckan core
# requests>=2.11.1 # included in ckan core

# not directly required, pinned by Snyk to avoid a vulnerability
# or dev-requirements
python-memcached==1.58
pip==20.3.3
flake8
