-e git+https://github.com/GSA/ckanext-harvest.git@ckan-master#egg=ckanext-harvest
-e git+https://github.com/GSA/ckanext-datajson.git@main#egg=ckanext-datajson
-e git+https://github.com/GSA/ckanext-usmetadata.git@main#egg=ckanext-usmetadata
-e git+https://github.com/GSA/ckanext-googleanalyticsbasic.git@main#egg=ckanext-googleanalyticsbasic
-e git+https://github.com/keitaroinc/ckanext-saml2auth@main#egg=ckanext-saml2auth


repoze.lru==0.7
repoze.who==2.4
webob

# ckanext-saml2 dependencies
M2Crypto==0.36.0
#-e git+https://github.com/IdentityPython/pysaml2.git#egg=pysaml2
pysaml2

# ckanext-datajson dependencies
pyyaml==5.4
lepl
jsonschema~=2.4.0
rfc3987

# ckanext-harvest dependencies
pika
redis
requests
pyOpenSSL
ckantoolkit==0.0.3

# not directly required, pinned by Snyk to avoid a vulnerability
# or dev-requirements
python-memcached==1.58
pip==20.3.3
flake8

